
a {color:hotpink; }

/* unvisited link */
a:link {color: hotpink;}

/* visited link */
a:visited {color:hotpink;}

/* mouse over link */
a:hover {color: darkslateblue;}

/* selected link */
a:active {color: darkslateblue;}

ul
{
	list-style-type: none;	
}

hr {
	width: 75%;
	margin-right: 75%;
}


@media only screen and (max-width: 600px) {
hr {
	width: 100;
}
}

body
{
	/* background-image:url("../resources/offWhite.png")*/
	background-color: rgb(32, 32, 33);
	color: rgb(255, 255, 255);
}

p
{
	margin-right: 20%;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;


}



