html
{
	background:url("../resources/offWhite.png") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
}

ul
{
	list-style-type: none;	
}
